---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Card from '../components/Card.astro';
---

<!-- MINUTO 22:22 -->

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
		<h1 class="text-white">Hey, I'm Andrea <Badge>Available for hire</Badge></h1>
		<h2>Junior Web Developer and English philologist and linguist. 
			I live in Bilbao (Spain). I create different projects in multilingual settings
			to improve my programming skills since I am willing to start working in this field.
		</h2>

		<ul></ul>
	</section>
	</main>
</Layout>

