---
import Layout from "../layouts/Layout.astro";
import PersonalInfo from "../components/PersonalInfo.astro";
import Laptop from "../components/icons/Laptop.astro";
import Projects from "../components/Projects.astro";
import EducationSection from "../components/EducationSection.astro";
import SectionContainer from "../components/SectionContainer.astro";
// import { translations } from "./translations";
import i18next, { t, changeLanguage } from "i18next";
import EducationBooks from "../components/icons/EducationBooks.astro";
import DropdownNav from "../components/DropdownNav.astro";

changeLanguage("es");
---

<Layout
  title="Andrea Bombin - Portfolio | Desarrolladora y Programadora Front-End Web. Traducción y Redacción de contenidos en inglés y español"
  description="Desarrollo Web y Creación de Contenidos en entornos multilingües. Experiencia en trabajo en equipo, redacción de contenidos, desarrollo de proyectos y uso continuado del inglés como lengua vehicular."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32" id="about-me">
     <PersonalInfo/>
    </SectionContainer>

  
   
    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Laptop class="size-8" />
        {t("projects.title")}
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="education">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <EducationBooks class="size-8" />
        {t("education.title")}
      </h2>
      <EducationSection />
    </SectionContainer>
  </main>
</Layout>
