---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialInfo from "../components/SocialInfo.astro"
import LinkedIn from "../components/icons/LinkedIn.astro";

import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="../../profile-image.jpg"
        alt="profile photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hey, I'm Andrea
        <a
          href="https://www.linkedin.com/in/andreabr4/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Available for hire</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span class="text-blue-200"
          >Junior Web Developer and English philologist and linguist. I live in
          Bilbao (Spain).</span
        ><span class="text-white-100/90">
          I create different projects in multilingual settings to improve my
          programming skills since I am willing to start working in this field.</span
        >
      </h2>

      <ul>
        <li>
			<SocialInfo>
				<LinkedIn></LinkedIn>
			</SocialInfo>
        
        </li>
      </ul>
    </section>
  </main>
</Layout>
