---
import BackendIcon from "./icons/BackendIcon.astro";
import MongoDBIcon from "./icons/MongoDBIcon.astro";
import NestIcon from "./icons/NestIcon.astro";
import ExpressIcon from "./icons/ExpressIcon.astro";
---

<div class="border-b border-gray-600 mt-5">
  <div class="flex items-center">
    <BackendIcon />
    <h2 class="text-sm font-semibold uppercase ml-4">Back-end</h2>
  </div>

  <ul
    class="mt-[2rem] flex flex-wrap md:flex-nowrap gap-x-6 md:gap-x-3 gap-y-4 md:space-x-5 max-w-[700px] mb-5"
  >
    <li>
      <NestIcon />
      <p class="text-sm">Nest</p>
    </li>
    <li>
      <MongoDBIcon />
      <p class="text-sm">MongoDB</p>
    </li>
    <li>
      <ExpressIcon />
      <p class="text-sm">Express</p>
    </li>
  </ul>
</div>
