---
import DateIcon from "../components/icons/DateIcon.astro";
const { educationYear = "" } = Astro.props;
---

<span
  class="text-xs font-medium inline-flex items-center px-1.5 py-0.25 h-5 ml-5 rounded me-4 bg-gray-200 text-gray-800 border border-gray-500"
>
  <!-- <DateIcon /> -->
  {educationYear}
</span>
