---
import DesignIcon from "./icons/DesignIcon.astro";
import FramerIcon from "./icons/FramerIcon.astro";
import FigmaIcon from "./icons/FigmaIcon.astro";
import i18next, { t } from "i18next";
---

<div class="border-b border-gray-200/70 mt-5">
  <div class="flex items-center">
   <DesignIcon/>
    <h2 class="text-sm font-semibold uppercase ml-4">{t("design.title")}</h2>
  </div>

  <ul
    class="mt-[2rem] flex flex-wrap md:flex-nowrap gap-x-6 md:gap-x-3 gap-y-4 md:space-x-5 max-w-[700px] mb-5"
  >
    <li>
      <FigmaIcon />
      <p class="text-sm">Nest</p>
    </li>
    <li>
        <FramerIcon />
        <p class="text-sm">Framer Motion</p>
      </li>
  </ul>
</div>
