---

---
<style>
    .collapse-content {
      display: none;
    }
  
    .collapsed .collapse-content {
      display: block;
    }
  </style>

<div class="collapse bg-base-200 p-4">
  <button
    class="btn btn-primary bg-red-500" 
    onclick="document.querySelector('.collapse-content').classList.toggle('collapsed')"
  >
    Toggle Content
  </button>

  <div class="collapse-content">
    <p>Your collapsible content goes here.</p>
  </div>
</div>

