---
import University from "../components/icons/University.astro";
import MasterIcon from "../components/icons/MasterIcon.astro";
import Date from "../components/Date.astro";
import Code from "../components/icons/Code.astro";

const { class: className, id, customComponent, children } = Astro.props;

const cardClass = `card flex w-full lg:card-side mb-4 mt-2 ${className}`;
---

<div class={cardClass}>
  <figure class="size-12">
    <Code />
  </figure>
  <div class="card-body ml-6">
    <p>Bootcamp Full-Stack - Code4Jobs</p>
  </div>
  <Date educationYear="2023" />
</div>

<div class={cardClass}>
  <figure class="size-12 flex-shrink-0">
    <University />
  </figure>
  <div class="card-body ml-6">
    <p class="flex-wrap text-pretty">
      Grado universitario en Lenguas Modernas con Mención en Estudios Ingleses -
      Universidad de Deusto
      <Date educationYear="2016-2020" />
    </p>
  </div>
</div>

<div class=`mt-6 ${cardClass}`>
  <figure class="size-12 flex-shrink-0">
    <MasterIcon />
  </figure>
  <div class="card-body ml-6">
    <p class="flex-wrap text-pretty">
      Máster universitario en Lingüística Inglesa Aplicada - UNED
      <Date educationYear="2022-2024" />
    </p>
  </div>
</div>
