---
import LanguageSelection from "../components/LanguageSelection.astro";
import i18next, { t } from "i18next";
---

<footer class="dark:bg-[#474555] w-screen">
  <div class="p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0"></div>
      <div class="grid grid-cols-4 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">
            {t("language.selection")}
          </h2>
          <ul class="text-gray-400 font-medium">
            <li class="mb-4">
              <LanguageSelection />
            </li>
          </ul>
        </div>

        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">
            {t("footer.contact")}
          </h2>

          <ul class="text-gray-400 font-medium">
            <li class="mb-4">
              <a href="mailto:br13.andrea@gmail.com" class="hover:underline">
                br13.andrea@gmail.com</a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/in/andreabr4/" class="hover:underline" target="_blank"
                >LinkedIn</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  </div>
</footer>
