<header
  class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <!-- PONER SPAN EN CASO DE QUITAR LA FOTO DE ICONO PARA NO PERDER ESTRUCTURA: <span></span> -->
  <img
    class="rounded-full w-12 h-12"
    src="../../profile-image.jpg"
    alt="profile photo"
  />
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Home</a>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
