---
import Badge from "../components/Badge.astro";
import SocialInfo from "../components/SocialInfo.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHub.astro";
import Mail from "../components/icons/Mail.astro";
import CV from "../components/icons/CV.astro";
import i18next, { t } from "i18next";
---

<div class="mt-[-15vh]">
  <img
    class="rounded-full size-48 mb-[8vh] shadow-lg shadow-orange"
    src="../../profile-image.jpg"
    alt="profile photo"
  />
  <h1
    class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4 lg:pb-10"
  >
    {t("personal.name")}
    <a
      href="https://www.linkedin.com/in/andreabr4/"
      target="_blank"
      rel="noopener"
      class="flex justify-center items-center"
    >
      <Badge>{t("personal.badge")}</Badge>
    </a>
  </h1>
  <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
    <span class="text-[#f20548]">
      {t("personal.description.colored")}</span
    ><span class="text-white-100/90 text-pretty">
      {t("personal.description")}</span
    >
  </h2>

  <nav class="flex gap-4 mt-8 mb-[-3vh] flex-wrap">
    <SocialInfo href="https://www.linkedin.com/in/andreabr4/">
      <LinkedIn class="size-4 md:size-6" />
      LinkedIn
    </SocialInfo>

    <SocialInfo href="https://github.com/andreabr4">
      <GitHub class="size-4 md:size-6" />
      GitHub
    </SocialInfo>

    <SocialInfo href="mailto:br13.andrea@gmail.com">
      <Mail class="size-4 md:size-6" />
      br13.andrea@gmail.com
    </SocialInfo>

    <SocialInfo href="../../CV_Andrea_Bombin.pdf">
      <CV class="size-4 md:size-6" />
      CV
    </SocialInfo>
  </nav>
</div>
