---
import ProjectsItem from "./ProjectsItem.astro";
import i18next, { t } from "i18next";

const projects = [
  {
    date: t("project1.date"),
    title: t("project1.title"),
    description: t("project1.description"),
    link: "#",
  },
  {
    date: t("project2.date"),
    title: t("project2.title"),
    description: t("project2.description"),
    link: "#",
  },
  {
    date: t("project3.date"),
    title: t("project3.title"),
    description: t("project3.description"),
    link: "#",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    projects.map((project) => (
      <li class="mb-10 ms-4">
        <ProjectsItem {...project} />
      </li>
    ))
  }
</ol>
