---
import FrontendSkill from "../components/FrontendSkill.astro";
import BackendSkill from "../components/BackendSkill.astro";
import DesignSkill from "../components/DesignSkill.astro";
import TestingSkill from "../components/TestingSkill.astro";
---

<section>
        <FrontendSkill/>
        <BackendSkill/>   
        <DesignSkill/> 
        <TestingSkill/> 

</section>
