---
import FrontendSkill from "../components/FrontendSkill.astro";
import BackendSkill from "../components/BackendSkill.astro";
import DesignSkill from "../components/DesignSkill.astro";
import ProgrammingSkill from "./ProgrammingSkill.astro";
---

<section>
        <ProgrammingSkill/> 
        <FrontendSkill/>
        <BackendSkill/>   
        <DesignSkill/> 
</section>
