---
import i18next, { t } from "i18next";
import TestingIcon from "./icons/TestingIcon.astro";
import LighthouseIcon from "./icons/LighthouseIcon.astro";
---

<div class="border-b border-gray-200/70 mt-5">
  <div class="flex items-center">
   <TestingIcon/>
    <h2 class="text-sm font-semibold uppercase ml-4">{t("design.title")}</h2>
  </div>

  <ul
    class="mt-[2rem] flex flex-wrap md:flex-nowrap gap-x-6 md:gap-x-3 gap-y-4 md:space-x-5 max-w-[700px] mb-5"
  >
    <li>
      <LighthouseIcon/>
      <p class="text-sm">Lighthouse</p>
    </li>
    
  </ul>
</div>
